VITE_SUPABASE_URL=https://lnjvhoqauidkppefewyg.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxuanZob3FhdWlka3BwZWZld3lnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODYyODI4NDAsImV4cCI6MjEwMTg1ODg0MH0.rg8ZTsPXeJoe7luAFEQoCWentMESd4nswUfCn6DPxdQ
